@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none; }

.abouts h1, .abouts h2, .infoceliaca h2, .infoceliaca p, .infoceliaca img, .known p, .map h2, .map p, .map iframe, .requerimentos h2, .requerimentos ul li {
  display: flex;
  justify-content: center; }

/*map*/
footer {
  background-color: burlywood; }

header {
  background-color: burlywood;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*--------------------------------------headers----------------------------------------------------*/
body {
  background-color: burlywood; }
  body h1 {
    text-align: center; }

/* --------------------------------------------mains--------------------------------------------------*/
.carousel,
.slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
  border-radius: 150px;
  overflow: hidden; }

.carousel-inner > .carousel-item > img {
  margin: auto;
  width: 40% !important;
  padding: 25px;
  margin-bottom: 85px; }

.card.card-body {
  background-color: #9298E5; }

.lead {
  color: white; }

.comunication label {
  display: inline-block;
  color: white; }

.comunication textarea {
  resize: vertical;
  margin-bottom: 170px; }

.comunication p {
  color: white; }

.comunication h5 {
  color: white; }

.text-primary {
  color: white; }

.text-center {
  color: #9298E5;
  font-weight: bold;
  font-style: italic; }

.abouts h1 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-style: italic;
  padding: 20px; }

.abouts h2 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-style: italic; }

.infoceliaca h2 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-style: italic;
  padding: 25px; }

.infoceliaca p {
  margin: 20px;
  font-style: italic;
  color: white; }

.infoceliaca img {
  margin: auto;
  width: 65% !important;
  padding: 30px;
  overflow: hidden;
  border: 2px;
  border-radius: 100px; }

main {
  background-image: url(../img/bakery.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-color: antiquewhite; }

.known h2 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-style: italic;
  display: flex;
  justify-content: center;
  padding: 25px; }

.known p {
  margin: 20px;
  font-style: italic;
  color: white; }

.chefs h3 {
  color: white; }

.map h2 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-style: italic;
  padding: 25px; }

.map p {
  margin: 20px;
  font-style: italic;
  color: white; }

.map iframe {
  margin: auto;
  width: 70% !important;
  padding: 5px;
  overflow: hidden;
  border: 2px;
  border-radius: 10px; }

.requerimentos h2 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-style: italic;
  padding: 25px;
  margin: auto; }

.requerimentos ul li {
  color: white; }

/*-------------------------------------------------------footers--------------------------------------*/
.insta a img {
  margin: 10px;
  width: 60px;
  height: 60px; }
  .insta a img h3 {
    font-family: 'Bebas Neue', cursive; }

/*--------------------- Media Queries ----------------*/
@media only screen and (max-width: 575px) {
  .card-columns {
    column-count: 1;
    margin-left: 0.5rem; }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 0; }
  .row > * {
    width: 95%; }
  .insta {
    display: flex;
    justify-content: center;
    align-items: center; }
  .hero h2 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .carousel-inner > .carousel-item > img {
    margin: auto;
    width: 90% !important;
    padding: 33px; }
  .carousel,
  .slide,
  .carousel .carousel-inner,
  .carousel .carousel-item,
  .carousel .carousel-item img,
  .carousel .carousel-control {
    border-radius: 150px;
    overflow: hidden;
    margin-bottom: 52px; } }

@media only screen and (max-width: 820px) {
  .carousel-inner > .carousel-item > img {
    margin: auto;
    width: 90% !important;
    padding: 33px;
    margin-bottom: 510px; } }

@media only screen and (max-width: 820px) and (-width: 320px) {
  .card-columns {
    column-count: 1; }
  .row > * {
    width: 95%; }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 0; }
  .insta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem; }
  .hero h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem; } }

@media only screen and (max-width: 820px) {
  .carousel-inner > .carousel-item > img {
    margin: auto;
    width: 90% !important;
    padding: 35px; }
  .carousel,
  .slide,
  .carousel .carousel-inner,
  .carousel .carousel-item,
  .carousel .carousel-item img,
  .carousel .carousel-control {
    border-radius: 150px;
    overflow: hidden;
    margin-bottom: 70px; } }

/*--------------------- Animaciones ----------------*/
.navbar-light .navbar-nav .nav-link:hover {
  color: yellow !important;
  transition: all 0.3s ease 0s;
  animation: shake 0.5s; }

.map h2:hover {
  color: violet !important;
  transition: all 0.3s ease 0s;
  animation: shake 0.5s; }

.requerimentos h2:hover {
  color: violet !important;
  transition: all 0.3s ease 0s;
  animation: shake 0.5s; }

.known h2:hover {
  color: violet !important;
  transition: all 0.3s ease 0s;
  animation: shake 0.5s; }

@keyframes shake {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(5px); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0px); } }

.card.card-body:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out; }

.abouts h1:hover {
  text-decoration: overline; }

/*-----------contacto----------*/
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=enviar] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center; }

input[type=enviar]:hover {
  background-color: #45a049; }

.contacto {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 50px; }
