@import "./base/generales";
@import "./base/variables";
@import "./base/mixin";
@import "./base/extend";
@import "./base/maps";
@import "./components/footer";
@import "./components/header";



/*--------------------------------------headers----------------------------------------------------*/

body {
    background-color: burlywood;

    h1 {
        text-align: center;
    }
}

/* --------------------------------------------mains--------------------------------------------------*/

.carousel,
.slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
    border-radius: 150px;
    overflow: hidden;
}

.carousel-inner>.carousel-item>img {
    margin: auto;
    width: 50% !important;
    padding: 30px;
}


.card.card-body {
    background-color: $color-bluely;
}

.lead {
    color: white;
}

.text-primary {
    color: white;
}

.text-center {
    color: $color-bluely;
    font-weight: bold;
    font-style: italic;
}


.infoceliaca {
    h2 {
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-style: italic;
        display: flex;
        justify-content: center;
        padding: 25px;
    }
    p {
        margin-left: 35px;
        font-style: italic;
        display: flex;
        justify-content: center;
        color: white;
    }
    img {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 65% !important;
        padding: 30px;
        overflow: hidden;
        border: 2px;
        border-radius: 100px;
    }
}


main {
    width: 100%;
    background-image: url(../img/bakery.jpg);
    background-size: map-get($main, b-size);
    background-position: map-get($main, b-position);
    background-attachment: map-get($main, b-gattach);
    border-color: map-get($main, b-color)
}

.known {
    h2 {
        font-family: 'Bebas Neue', cursive;
        color: white;
    }

    p {
        color: white;
    }
}

.chefs h3 {
    color: white;
}

.abouts {
    h1 {
        @extend %flex;
        font-size: 50px;
        font-style: italic;
        font-family: 'Bebas Neue', cursive;
        color: white;
    }

    h2 {
        @extend %flex;
        color: white
    }
}

.requerimentos {
    h2 {
        font-family: 'Bebas Neue', cursive;
        color: white;
    }

    ul li {
        color: white;
    }
}


.map {
    h2 {
        color: white;
        font-family: 'Bebas Neue', cursive;
    }

    p {
        color: white;
    }
}


/*-------------------------------------------------------footers--------------------------------------*/
.insta {
    a {
        img {
            margin: 10px;
            width: 60px;
            height: 60px;

            h3 {
                font-family: 'Bebas Neue', cursive;
            }
        }
    }
}

/*--------------------- Media Queries ----------------*/

@media only screen and (max-width: 575px) {
    .card-columns {
        column-count: 1;
        margin-left: 0.5rem;
    }


    .row>* {
        width: 95%;
    }

    .insta {
        @include flex-test (flex, center, center);
    }

    .hero {
        h2 {
            @include flex-test (flex, center, center);
        }
    }
}

@media only screen and (max-width: 320px) {
    .card-columns {
        column-count: 1;
    }

    .row>* {
        width: 95%;
    }

    .insta {
        @include flex-test (flex, center, center);
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .hero h2 {
        @include flex-test (flex, center, center);
        margin-left: 1rem;
    }

}

/*--------------------- Animaciones ----------------*/

.navbar-light .navbar-nav .nav-link:hover {
    color: yellow !important;
    transition: all 0.3s ease 0s;
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.card.card-body:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.abouts h1:hover {
    text-decoration: overline;
}