@import "./base/generales";
@import "./base/variables";
@import "./base/mixin";
@import "./base/extend";
@import "./base/maps";
@import "./components/footer";
@import "./components/header";



/*--------------------------------------headers----------------------------------------------------*/

body {
    background-color: burlywood;

    h1 {
        text-align: center;
    }
}

/* --------------------------------------------mains--------------------------------------------------*/

.carousel,
.slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
    border-radius: 150px;
    overflow: hidden;
}

.carousel-inner>.carousel-item>img {
    margin: auto;
    width: 40% !important;
    padding: 25px;
    margin-bottom: 85px;
}


.card.card-body {
    background-color: $color-bluely;
}

.lead {
    color: white;
}

.comunication{
    label{display: inline-block;
    color: white;}
    textarea{
        resize: vertical;
        margin-bottom: 170px;
    } p{
        color: white;} h5{color: white;}
    } 



.text-primary {
    color: white;
}

.text-center {
    color: $color-bluely;
    font-weight: bold;
    font-style: italic;
}

.abouts {
    h1 {
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-style: italic;
        @extend %flex;
        padding: 20px;
    }

    h2 {
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-style: italic;
        @extend %flex;       
    }
}


.infoceliaca {
    h2 {
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-style: italic;
        @extend %flex;
        padding: 25px;
    }
    p {
        margin: 20px;
        font-style: italic;
        @extend %flex;
        color: white;
    }
    img {
        @extend %flex;
        margin: auto;
        width: 65% !important;
        padding: 30px;
        overflow: hidden;
        border: 2px;
        border-radius: 100px;
    }
}


main {
    
    background-image: url(../img/bakery.jpg);
    background-size: map-get($main, b-size);
    background-position: map-get($main, b-position);
    background-attachment: map-get($main, b-gattach);
    border-color: map-get($main, b-color)
}

.known {
    h2 {
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-style: italic;
        display: flex;
        justify-content: center;
        padding: 25px;
    }

    p {
        margin: 20px;
        font-style: italic;
        @extend %flex;
        color: white;
    }
}

.chefs h3 {
    color: white;
}

.map {
    h2 {
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-style: italic;
        @extend %flex;
        padding: 25px;
    }

    p {
        margin: 20px;
        font-style: italic;
        @extend %flex;
        color: white;
    } 
    iframe {@extend %flex;
        margin: auto;
        width: 70% !important;
        padding: 5px;
        overflow: hidden;
        border: 2px;
        border-radius: 10px;}
}

.requerimentos {
    h2 {
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-style: italic;
        @extend %flex;
        padding: 25px;
        margin: auto;

    }

    ul li {
        color: white;
        @extend %flex;
    }
}

/*-------------------------------------------------------footers--------------------------------------*/
.insta {
    a {
        img {
            margin: 10px;
            width: 60px;
            height: 60px;

            h3 {
                font-family: 'Bebas Neue', cursive;
            }
        }
    }
}

/*--------------------- Media Queries ----------------*/

@media only screen and (max-width: 575px) {
    .card-columns {
        column-count: 1;
        margin-left: 0.5rem;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 0;}

    .row>* {
        width: 95%;
    }

    .insta {
        @include flex-test (flex, center, center);
    }

    .hero {
        h2 {
            @include flex-test (flex, center, center);
        }
    }

    .carousel-inner > .carousel-item > img {
        margin: auto;
        width: 90% !important;
        padding: 33px;
}

.carousel, .slide, .carousel .carousel-inner, .carousel .carousel-item, .carousel .carousel-item img, .carousel .carousel-control {
    border-radius: 150px;
    overflow: hidden;
    margin-bottom: 52px;
}
}

@media only screen and (max-width: 820px) {
    .carousel-inner > .carousel-item > img {
        margin: auto;
        width: 90% !important;
        padding: 33px;
        margin-bottom: 510px;
}

@media only screen and (-width: 320px) {
    .card-columns {
        column-count: 1;
    }

    .row>* {
        width: 95%;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 0;}


    .insta {
        @include flex-test (flex, center, center);
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .hero h2 {
        @include flex-test (flex, center, center);
        margin-left: 1rem;
    }

}
.carousel-inner > .carousel-item > img {
    margin: auto;
    width: 90% !important;
    padding: 35px;      
}

.carousel, .slide, .carousel .carousel-inner, .carousel .carousel-item, .carousel .carousel-item img, .carousel .carousel-control {
    border-radius: 150px;
    overflow: hidden;
    margin-bottom: 70px;
}
/*--------------------- Animaciones ----------------*/

.navbar-light .navbar-nav .nav-link:hover {
    color: yellow !important;
    transition: all 0.3s ease 0s;
    animation: shake 0.5s;
}

.map h2:hover {
    color: violet !important;
    transition: all 0.3s ease 0s;
    animation: shake 0.5s;
}

.requerimentos h2:hover {
    color: violet !important;
    transition: all 0.3s ease 0s;
    animation: shake 0.5s;
}

.known h2:hover {
    color: violet !important;
    transition: all 0.3s ease 0s;
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.card.card-body:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.abouts h1:hover {
    text-decoration: overline;
}

}
